includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./phpstan-baseline.neon

services:
#    -
#        class: Utils\StaticAnalyse\TestCollector
#        tags:
#            - phpstan.collector
    errorFormatter.tst:
        class: Utils\StaticAnalyse\ErrorFormatter\GithubErrorFormatter

rules:
#    - Utils\StaticAnalyse\Rule\PropertyTestRule
    - Utils\StaticAnalyse\Rule\MyRule

parameters:
    paths:
        - app/
    # Level 9 is the highest level
    level: 5

    errorFormat: tst
    parallel:
        maximumNumberOfProcesses: 2

    noUnnecessaryCollectionCall: true
    checkMissingIterableValueType: false
