includes:
	- phpstan.neon.dist

services:
    errorFormatter.tst:
        class: Utils\StaticAnalyse\ErrorFormatter\GithubErrorFormatter

parameters:
    editorUrlTitle: 'Ref: %%relFile%%:%%line%%'
    editorUrl: 'https://github.com/aliaksandr-gg/static-test/tree/t1/%%file%%&line=%%line%%'
    errorFormat: tst
    parallel:
        maximumNumberOfProcesses: 2

    noUnnecessaryCollectionCall: false
    checkMissingIterableValueType: false
